*~
*.la
*.lo
*.o
.libs
Makefile
config.h
config.h.in
config.log
config.status
uuid
uuid-config
uuid.h
uuid.pc
configure
aclocal.m4
shtool
libtool
ltmain.sh
config.guess
config.sub
install-sh
uuid.1
uuid.3
uuid++.3
uuid-config.1
